* *::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}
@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}
header {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px 0px 30px;
  align-items: center;
}

.logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.nav_list {
  display: flex;
  flex-direction: row;
  padding: 4px;
}
.nav_item {
  margin: 10px 8px;
  font-size: 20px;
  list-style: none;
}

.nav_item a {
  margin: 10px 8px;
  font-size: 20px;
}

body {
  font-size: 20px;
  padding-top: 5px;
  display: block;
  font-family: "Roboto", sans-serif;
  color: #202020;
}
.intro {
  background-size: 100%100%;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}
.intro img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 0px 0px;
  border-radius: 50%;
  margin-top: 90px; 
  box-shadow: 0px 10px 15px 5px #fa6e16;
}
.section_subtitle-section_subtitle-intro {
  padding-top: 20%;
}
.name{
 color: #fa6e16;
}
.section_title {
  margin-top: 70px;
  font-weight: 300;
}
.about p {
  color: #646363;
}
.portfolio img {
  max-height: 100%;
  max-width: 100%;
  width: 200px;
  height: 200px;
}

.nav_link,
.social-list_link, .blog-link, .work-link {
  text-decoration: none;
  color: #000000;
}
.nav_link:hover,
.social-list_link:hover {
  color:#fa6e16;
}
.services {
  display: flex;
}
.service {
  margin: 15px;
  margin-left: 0px;
  width: 30%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 2px 10px 4px #ebebeb;
}
.service img{
  height: 100%;
  max-height: 200px;
  width: 100%;
  border-radius: 8px;
}
.service h3 {
  font-weight: 300;
}
.service p {
  padding: 0px 20px;
  color: #646363;
}
.my-blogs{
  display: flex;
}
.blog {
  margin: 15px;
  margin-left: 0px;
  width: 30%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 2px 10px 4px #ebebeb;
}
.blog img{
  height: 200px;
  width: 100%;
  border-radius: 8px;
}
.blog p{
  color: #646363;
}
.topics{
  padding: 0px 30px;
}
.date{
  padding: 0px;
}
.portfolio {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio img {
  margin-right: 4px;
}
.my-works{
  display: flex;
}
.work{
  margin: 15px;
  margin-left: 0px;
  width: 30%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 2px 10px 4px #ebebeb;
}
.work-link p{
  color: #646363;
}
.work img{
  height: 200px;
  width: 100%;
  border-radius: 8px;
}
.topics{
  padding: 0px 30px;
}
.lang-used{
  margin-top: 20px;
}
.form {
  margin-left: 10px;
  width: 100%;
}
.inputbox {
  margin: 18px 0px;
}
.inputbox textarea {
  padding: 10px;
  width: 70%;
}

.inputbox input {
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
  width: 70%;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact img {
  max-width: 100%;
}
.submit input[type="submit"] {
  background-color: #fa6e16;
  border-radius: 8px;
  color: white;
  padding: 10px;
  border: none
}
.social-list {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
}
.social-list_item {
  padding-right: 20px;
}
.social-list_link > i {
  font-size: 30px;
  width: auto;
}
.end{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  background-color: #000000;
  font-size: 10px;
}

/*  space at the side of content  */
.nav, .logo, .intro, .social, .about-me, .my-services, .my-blogs, .my-works, .my-photo, .contact, .section_title{
  padding: 90px;
  padding-top: 0px;
  padding-bottom: 0px;
  
}

.logo{
  padding-right: 0px;
}

.nav{
  padding-left: 0px;
}


@media screen and (max-width: 800px) {
  header {
    padding: 1px;
  }

  .logo img {
    height: 40px;
    width: 40px;
  }

  a.nav_link {
    font-size: 14px;
    margin: 6px;
  }
  .nav_item {
    margin: 0px;
  }

 
  .intro img{
   width: 100px;
   height: 100px;
   border-radius: 99%;
   margin-top: 100px;
   object-fit: cover;
   object-position: 0px 0px;
  }
  .services {
    display: block;
    width: 100%;
  }
  .service {
    width: 100%;
  }
  .my-blogs {
    display: block;
   
  }
  .blog {
    width: 100%;
  }
  .my-works {
    display: block;
    
  }
  .work {
    width: 100%;
  }
  .work img{
    width: 100%;
   height: 150%;
  }
  .contact img {
    display: none;
  }

  .nav, .logo, .intro, .social, .about-me, .my-services, .my-blogs, .my-works, .my-photo, .contact, .section_title{
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px; 
  }
}