*
*::before,
*::after {
   box-sizing: border-box;
}

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;
  
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}
@media (min-width: 800px) {
  :root {
      --fs-h1: 4.5;
      --fs-h2: 3.75rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.125rem;
  }
}
header{
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px 0px 30px;
  border-bottom: 5px  solid #2a15e6;
 
}

body {
 background-color: #15dfe6;
 font-size: 20px;
}
.logo img{
  width: 60px;
  height: 60px;
  border-radius:  50%;
  object-fit: cover;
}
.intro img {
  width: 100px;
  height: 100px;
}
.portfolio a img  {
  max-height: 100%;
  max-width: 100%;
  width: 400px;
  height: 400px
}



.nav_list {
  display: flex;
  flex-direction: row;
  padding: 4px;
 
}
.nav_item {
  margin: 10px 8px;
  font-size: 20px;
  list-style: none;

}

.nav_item a{
  margin: 10px 8px;
  font-size: 20px;
}

a{
  text-decoration: none;
  color: #000000;
}
a:hover{
  color: #2a15e6;
}
a:active{
  color: darkgreen;
}
h2{
  color: #2a15e6;
}
.footer a{
  text-decoration: none;
}
