*
*::before,
*::after {
   box-sizing: border-box;
}

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;
  
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}
@media (min-width: 800px) {
  :root {
      --fs-h1: 4.5;
      --fs-h2: 3.75rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.125rem;
  }
}
header{
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px 0px 30px;
  align-items: center;

}

.logo img{
  width: 60px;
  height: 60px;
  border-radius:  50%;
  object-fit: cover;
}

.nav_list {
  display: flex;
  flex-direction: row;
  padding: 4px;
 
}
.nav_item {
  margin: 10px 8px;
  font-size: 20px;
  list-style: none;

}

.nav_item a{
  margin: 10px 8px;
  font-size: 20px;
}

body {
 font-size: 20px;
 padding: 90px;
 padding-top: 5px;
 display: block;
 padding-bottom: 5px;
 font-family: 'Roboto', sans-serif;
 color: #202020;
}
.section_title{
  margin-top: 70px;
  font-weight: 300;
}
.about p{
  color: #646363;
}
.intro img {
  width: 100px;
  height: 100px;
}

.portfolio a img  {
  max-height: 100%;
  max-width: 100%;
  width: 200px;
  height: 200px;
}

.nav_link, .social-list_link{
  text-decoration: none;
  color: #000000;
}
.nav_link:hover, .social-list_link:hover{
  color: #2a15e6;
}
.services{
  display: flex;
}
.service{
  border: 1px solid #ebebeb;
  margin: 5px;
  width: 30%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 2px 10px 4px #ebebeb;
  
}
.service h3{
  font-weight: 300;
}
.service p{
  padding: 0px 20px;
  color: #646363;
}
.portfolio{
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio img{
  margin-right: 4px;
}
.social-list{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.social-list_item{
  padding: 10px;
  padding-top: 30px;
}
.social-list_link > i {
  font-size: 30px;
  width: auto;
}

@media screen and (max-width: 800px) {
  header{
    padding: 1px;

  }

  .logo img{
    height: 40px;
    width: 40px;
  }

  a.nav_link{
    font-size: 14px;
    margin: 6px;
  }
  .nav_item{
    margin: 0px;
  }

  body{
    padding: 20px;
  }
  
  .services{
    display: block;
    width: 100%;
  }
  .service{
    width: 100%;
  }
  
  
}